<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Barcode
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Barcode Scanner</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-tab-button tab="scan" (click)="scan()">
    <ion-icon ></ion-icon>
    <ion-label>Scan</ion-label>
  </ion-tab-button> -->
  

  
  <div>
    <zxing-scanner #scanner  start="true"  [formats]="allowedFormats" (scanSuccess)="onCodeResult($event)"></zxing-scanner>
    <p>
      Result:
      <strong>{{ qrResultString }}</strong>      
    </p>
  </div>
</ion-content>
